@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');


* {
    --mainColor: #FFDE59;
    --sndColor: #22060d;
    --trdColor: #faebd7;

    margin: 0%;
    font-size: 20px;
    font-family: 'Reem Kufi', sans-serif;
}

header {
    padding: 0%;
    background-color: var(--mainColor);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--mainColor);
}

li {
    float: right;
}

li a {
    display: block;
    color: var(--sndColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.10s ease-in-out;
}

li a:hover {
    font-size: 21px;
    color: var(--trdColor);
    box-shadow: #22060d;
}

div {
    margin: 0%;
}

.logo {
    width: 10%;
    margin: 0.5%;
}

.container {
    display: flex;
}

.container img {
    width: 100%;
}

.news {
    text-align: center;
    background-color: var(--trdColor);
}

.news img {
    width: 40%;
}

footer .social-media {
    background-color: var(--sndColor);
    text-align: center;
    padding-top: 0.5%;
}

footer .social-media img {
    transition: all 0.20s ease-in-out;
    width: 3%;
}

footer .social-media img:hover {
    width: 3.5%;
}

footer .contact {
    padding-top: 00.5%;
    padding-bottom: 0.5%;
    background-color: var(--sndColor);
    text-align: center;
}

footer .contact p {
    font-size: 13px;
    color: var(--trdColor);
    padding-top: 1%;
}

footer .contact button {
    text-decoration: none;
    border-color: var(--trdColor);
    color: var(--trdColor);
    padding: 0.5%;
    transition: all 0.10s ease-in-out;
    background-color: transparent;
}

footer .contact button:hover {
    color: var(--sndColor);
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

div.ilustration {
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    width: 100%;
}

div.choice {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

div.choice a {
    text-decoration: none;
    padding-right: 100px;
    padding-left: 100px;
    color: var(--sndColor);
    border-style: ridge;
}

div.choice a:hover {
    border-style: dotted;
    color: var(--sndColor);
}

.register {
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
}

.register h1 {
    font-size: 70px;
}

.register input {
    text-align: center;
}